{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='custom_style.css') }}">
{% endblock %}
{% block metas %}
    {{ super() }}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
{% endblock %}
{% block title %}Quiz{% endblock %}
{% block content %}
    <a href="/">
        <button class="btn btn-outline-secondary"
                id="nav_to_quiz"
                type="button"
                title="go to quiz">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </button>
    </a>
    <div class="tab">
        <ul class="nav nav-tabs">
            <li class="{{ 'active' if active_tab == 'question' }}"><a data-toggle="tab" href="#questions">questions</a>
            </li>
            <li class="{{ 'active' if active_tab == 'wordcloud' }}"><a data-toggle="tab" href="#wordcloud">wordcloud</a>
            </li>
            <li class="{{ 'active' if active_tab == 'userdata' }}"><a data-toggle="tab" href="#userdata">userdata</a>
            </li>
        </ul>
    </div>
    <div class="jumbotron text-center tab-content">
        <div id="questions" class="{{ 'tab-pane fade in active' if active_tab == 'question' else 'tab-pane fade' }}">
            <div>
                <h3>quiz editor</h3>
                <form class="form-inline" action="/question" method="POST">
                    <div class="form-group">
                        {{ question_form.question.label() }}
                        {{ question_form.question(class="form-control") }}
                        {{ question_form.answer.label() }}
                        {{ question_form.answer(class="form-control") }}
                        <button class="btn btn-primary" type="submit" title="add">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            <br>
            <div class="card-columns">
                {% for question in questions %}
                    <div class="card">
                        <div class="card-header  text-left">
                            <h5 class="card-title">question {{ question.id }}</h5>
                        </div>
                        <form action="/question/{{ question.id }}" method="POST">
                            <div class="card-body">
                                <div class="collapse in multi-collapse_question_{{ question.id }}"
                                     id="question_{{ question.id }}_show">
                                    <p class="card-text card-title  text-left">{{ question.text }}</p>
                                    <p class="card-text  text-center">{{ question.answer }}</p>
                                </div>
                                <div id="question_{{ question.id }}_edit"
                                     class="collapse multi-collapse_question_{{ question.id }}">
                                    <label>question</label>
                                    <input class="form-control" name="question" type="text" value="{{ question.text }}">
                                    <label>answer</label>
                                    <input class="form-control" name="answer" type="text" value="{{ question.answer }}">
                                </div>
                            </div>
                            <div class="card-footer collapse multi-collapse_question_{{ question.id }}">
                                <div class="text-right ">
                                    <div class="text-right">
                                        <button class="btn btn-success" title="save" type="submit">
                                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-danger"
                                                data-toggle="collapse"
                                                data-target=".multi-collapse_question_{{ question.id }}" title="save"
                                                type="reset">
                                            <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="card-footer collapse in multi-collapse_question_{{ question.id }}">
                            <div class="text-right">
                                <form class="form-inline" action="/question/{{ question.id }}/delete" method="POST">
                                    <div class="form-group">
                                        <button class="btn btn-success"
                                                type="button" title="edit"
                                                data-toggle="collapse"
                                                data-target=".multi-collapse_question_{{ question.id }}"
                                                aria-expanded="false"
                                                aria-controls="question_{{ question.id }}_edit question_{{ question.id }}_show">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-danger" type="submit" title="remove">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="wordcloud" class="{{ 'tab-pane fade in active' if active_tab == 'wordcloud' else 'tab-pane fade' }}">
            <h3>data</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        {% if show_wordcloud == 'True' %}
                            <a href="/images/wordcloud.png">
                                <img class="img-thumbnail rounded float-left" src="/images/wordcloud.png"
                                     alt="Wordcloud" width="200" height="200">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm form-group">
                        <form action="/wordcloud" method="GET">
                            <button class="btn btn-primary" type="submit" title="generate Wordcloud">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> generate Wordcloud
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="userdata" class="{{ 'tab-pane fade in active' if active_tab == 'userdata' else 'tab-pane fade' }}">
            <h3>user data</h3>
            <div class="form-group">
                <form action="/users/delete" method="POST">
                    <button class="btn btn-danger" type="submit" title="remove all user data">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> remove all user data
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}