{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='custom_style.css')}}">
{% endblock %}
{% block title %}Quiz{% endblock %}
{% block content %}
<a href="/admin">
    <button class="btn btn-outline-secondary"
            id="nav_to_admin_menu"
            type="button"
            title="admin menu">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
</a>
<div class="jumbotron text-center">
    <p>Enter your name:</p>
    <form class="form-inline" action="/user/{{id}}/name" method="POST">
        <div class="input-group-append">
                {{ form.name(class="form-control") }}
                <button class="btn btn-primary" type="submit" title="send">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
        </div>
    </form>
</div>
{% endblock %}